
h1{

}
h2{

}
h3{

}
.start{

}
.end{

}
.hide{
    display: none;
}
#start-screen{
    text-align: center;
    background: orangered;
    color: blue;
}
#questions{
    
}
#end-screen{

}
#choices{

}